@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #144d81;
  --foreground: #e0effa;
  --decoratorcolor: #114370;
  --linkcolor: #e0effa;
  --hovercolor: #EA6341;
  --textcolor: #e0effa;
  --codecolor: #672842;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--linkcolor);
  text-decoration: underline;
}
a:hover {
  color: var(--hovercolor);
  font-weight: 600;
}

nav a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  padding: 1rem 0;
}

h2::after, h3::after {
  padding-top: .5rem;
  content: '';
  display: block;
  border-bottom-color: var(--foreground);
  border-bottom-width: 1px;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: larger;
}

h2::after {
  border-bottom-style: solid;
}

h3 {
  font-size: medium;
}

h3::after {
  border-bottom-style: dashed;
}

h4 {
  font-style: italic;
}

.post-article code {
  margin: 1rem 0;
  padding: 1rem 2rem;
  overflow: auto;
  display: block;
  background-color: var(--codecolor);
}

.post-article img {
  margin: 1rem 0;
}

.post-article > ul {
  margin-left: 2rem;
}

ul, ol {
  margin-left: 1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style: decimal;
}

aside li  span.post-date {
  display: none;
}

.posts-top::after {
  content: '';
  display: block;
  border: 0.5px solid var(--foreground);
  margin-bottom: 2rem;
}

#table-of-contents .ml-1 {
  margin-left: 1rem;
}

#table-of-contents .ml-2 {
  margin-left: 2rem;
}

#table-of-contents .ml-3 {
  margin-left: 3rem;
}

#table-of-contents .ml-4 {
  margin-left: 4rem;
}

blockquote {
  padding-left: 1rem;
  border-left: 1px solid;
  margin: 1rem 0 1rem 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
