@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #144d81;
  --foreground: #e0effa;
  --decoratorcolor: #114370;
  --linkcolor: #e0effa;
  --hovercolor: #EA6341;
  --textcolor: #e0effa;
  --codecolor: #152528;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 2rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--linkcolor);
}
a:hover {
  color: var(--hovercolor);
}

h1 {
  font-size: xx-large;
  margin-bottom: 1rem;
}

h2 {
  font-size: large;
  margin: 1rem 0;
}

h2::after {
  padding-top: .5rem;
  content: '';
  display: block;
  border-bottom: 1px solid var(--foreground);
}


h3 {
  font-size: larger;
  margin-bottom: 1rem;
}

.post-artical code {
  margin: 1rem 0;
  padding: 1rem 2rem;
  overflow: auto;
  display: block;
  background-color: var(--codecolor);
}

.post-artical img {
  margin: 1rem 0;
}

ul {
  margin-left: 1rem;
}

li {
  list-style-type: disc;
}

.posts-top::after {
  content: '';
  display: block;
  border: 0.5px solid var(--foreground);
  margin-bottom: 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
